{% extends 'apple/base.html' %} {% load static %}
<!DOCTYPE html>
<html>

{% block title %}
<title> Apple International School | Downloads </title> {% endblock title %} {% block navbarcontent %}
<div class="text-box">
    <h1 style="border: 2px solid white;border-radius: 100px;">Downloads</h1>
</div>
</section>

{% endblock navbarcontent %}

<!----- downloads ---------->
{% block body %}

<!------downloads part-------->

<div class="small-container">
    <br><br><br>

    <h2
        style="text-align: center;font-size: 30px; margin: 0 auto 80px; position: relative; line-height: 60px; color: black;">
        Downloads</h2>
    {% for download in downloads %}
    <div class="download-row">

        <div class="download-column">
            <img
                src="https://media.istockphoto.com/vectors/download-icon-isolated-vector-vector-id844294300?k=20&m=844294300&s=612x612&w=0&h=Um3AUbTxB9AlQVK_0ykyr4UO3Yy6rcB0HII6HZbf28M=">
            <h4>{{ download.description }}</h4>
            <a href="{{download.attachment.url}}" download class="download-btn">Download<i class="fa fa-download"
                    style="margin-left: 15px;"></i></a>
        </div>
    </div>
    {% endfor %}
</div>

</body>

</html>
{% endblock body %}