{% extends 'apple/base.html' %} {% load static %}
<!DOCTYPE html>
<html>

{% block title %}
<title> Apple International School | Downloads </title> {% endblock title %} {% block navbarcontent %}
<div class="text-box">
    <h1 style="border: 2px solid white;border-radius: 100px;">Downloads</h1>
</div>
</section>

{% endblock navbarcontent %}

<!----- downloads ---------->
{% block body %}

<!------downloads part-------->

<div class="small-container">
    <br><br><br>
    <h2 style="text-align: center;font-size: 30px; margin: 0 auto 80px; position: relative; line-height: 60px; color: black;">Download</h2>
    <div class="download-row">
    <div class="download-column">
        <img src="img/admission.jpg">
        <h4>Admission Form</h4>
        <a href="img/admission.jpg" download class="download-btn">Download<i class="fa fa-download" style="margin-left: 15px;"></i></a>
    </div>
    <div class="download-column">
        <img src="img/project-submission-form.png">
        <h4>Final Project Submission</h4>
        <a href="img/project-submission-form.png" download class="download-btn">Download<i class="fa fa-download" style="margin-left: 15px;"></i></a>
    </div>
    <div class="download-column">
        <img src="img/exam-routine.jpg">
        <h4>Exam Routine</h4>
        <a href="img/exam-routine.jpg" download class="download-btn">Download<i class="fa fa-download" style="margin-left: 15px;"></i></a>
    </div>
    <div class="download-column">
        <img src="img/result.jpg">
        <h4>Exam Result</h4>
        <a href="img/see pdf.pdf" download class="download-btn">Download<i class="fa fa-download" style="margin-left: 15px;"></i></a>
    </div>
    <div class="download-column">
        <img src="img/vacancy.jpg">
        <h4>Teacher's Required</h4>
        <a href="img/vacancy.jpg" download class="download-btn">Download<i class="fa fa-download" style="margin-left: 15px;"></i></a>
    </div>
    </div>
</div>

<!---JS for toggle menu-->
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script>
</body>

</html>
{% endblock body %}