{% extends 'apple/base.html' %} {% load static %}
<!DOCTYPE html>
<html>
{% block title %}
<title> Apple International School | Events </title> {% endblock title %} {% block navbarcontent %}
<div class="text-box">
  <h1 style="border: 2px solid white;border-radius: 100px;">Events & Programs</h1>
</div>
</section>
{% endblock navbarcontent %} {% block body %}
<!--------Events section-------------->
<div class="event-container">
  <br><br><br>
  <h3 class="main-title">Upcoming Events and Programs</h3>
  <br><br>
  {% for event in events %}
  <div class="event">
    <div class="event-left">
      <div class="event-date">
        <div class="date">{{ event.event_date }}</div>
      </div>
    </div>

    <div class="event-right">
      <h3 class="event-title">{{ event.event_name }}</h3>

      <div class="event-description"> {{ event.event_description }} </div>

      <div class="event-timing">
        <img src="{% static 'apple/img/time.png' %}"> 10:00 am
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br><br><br>

</body>

</html>
{% endblock body%}