{% extends 'apple/base.html' %} {% load static %}
<!DOCTYPE html>
<html>
{% block title %}
<title> Apple International School | Events </title> {% endblock title %} {% block navbarcontent %}
<div class="text-box">
    <h1 style="border: 2px solid white;border-radius: 100px;">Events & Programs</h1>
</div>
</section>
{% endblock navbarcontent %} {% block body %}
<!--------Events section-------------->
<div class="event-container">
    <br><br><br>
    <h3 class="main-title">Upcoming Events and Programs</h3>
    <br><br>
    <div class="event">
      <div class="event-left">
        <div class="event-date">
          <div class="date">28</div>
          <div class="month">April</div>
        </div>
      </div>

      <div class="event-right">
        <h3 class="event-title">School Picnic</h3>

        <div class="event-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,
          ratione.
        </div>

        <div class="event-timing">
          <img src="img/time.png"> 10:00 am
        </div>
      </div>
    </div>

    <div class="event">
      <div class="event-left">
        <div class="event-date">
          <div class="date">25</div>
          <div class="month">May</div>
        </div>
      </div>

      <div class="event-right">
        <h3 class="event-title">Parents Teacher Meeting</h3>

        <div class="event-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,
          ratione.
        </div>

        <div class="event-timing">
            <img src="img/time.png"> 10:45 am
        </div>
      </div>
    </div>

    <div class="event">
      <div class="event-left">
        <div class="event-date">
          <div class="date">4</div>
          <div class="month">June</div>
        </div>
      </div>

      <div class="event-right">
        <h3 class="event-title">Mid-term examinations</h3>

        <div class="event-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,
          ratione.
        </div>

        <div class="event-timing">
            <img src="img/time.png"> 10:00 am
        </div>
      </div>
    </div>

    <div class="event">
      <div class="event-left">
        <div class="event-date">
          <div class="date">9</div>
          <div class="month">August</div>
        </div>
      </div>

      <div class="event-right">
        <h3 class="event-title">Sport's Day</h3>

        <div class="event-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,
          ratione.
        </div>

        <div class="event-timing">
            <img src="img/time.png"> 10:30 am
        </div>
      </div>
    </div>

    <div class="event">
      <div class="event-left">
        <div class="event-date">
          <div class="date">4</div>
          <div class="month">September</div>
        </div>
      </div>

      <div class="event-right">
        <h3 class="event-title">Holi Celebration at School</h3>

        <div class="event-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,
          ratione.
        </div>

        <div class="event-timing">
            <img src="img/time.png"> 10:00 am
        </div>
      </div>
    </div>

    <div class="event">
      <div class="event-left">
        <div class="event-date">
          <div class="date">17</div>
          <div class="month">November</div>
        </div>
      </div>

      <div class="event-right">
        <h3 class="event-title">Parent's Day</h3>

        <div class="event-description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,
          ratione.
        </div>

        <div class="event-timing">
            <img src="img/time.png"> 10:00 am
        </div>
      </div>
    </div>
  </div>
  <br><br><br>

<!---JS for toggle menu-->
<script>
    var navLinks = document.getElementById("navLinks");

    function showMenu() {
        navLinks.style.right = "0";
    }

    function hideMenu() {
        navLinks.style.right = "-200px";
    }
</script>
</body>

</html>
{% endblock body%}