{% extends 'apple/base.html' %} {% load static %}
<!DOCTYPE html>
<html>

{% block title %}
<title> Apple International School | Gallery </title> {% endblock title %} {% block navbarcontent %}
<div class="text-box">
    <h1 style="border: 2px solid white;border-radius: 100px;">Gallery</h1>
</div>
</section>
{% endblock navbarcontent %}

<!----- gallery ---------->
{% block body %}
    <!-----For gallery part-------->

    <h3 style="margin-top: 80px; font-size: 40px;">Images</h3>
    <div class="image-container">
        <div class="gallery">
            <a href="img/1st.jpg" data-lightbox="models" data-title="Caption1">
                <img src="img/1st.jpg">
            </a>
            <a href="img/2nd.jpg" data-lightbox="models" data-title="Caption2">
                <img src="img/2nd.jpg">
            </a>
            <a href="img/3rd.jpg" data-lightbox="models" data-title="Caption3">
                <img src="img/3rd.jpg">
            </a>
            <a href="img/4th.jpg" data-lightbox="models" data-title="Caption4">
                <img src="img/4th.jpg">
            </a>
            <a href="img/5th.jpg" data-lightbox="models" data-title="Caption5">
                <img src="img/5th.jpg">
            </a>
            <a href="img/6th.jpg" data-lightbox="models" data-title="Caption6">
                <img src="img/6th.jpg">
            </a>
            <a href="img/7th.jpg" data-lightbox="models" data-title="Caption7">
                <img src="img/7th.jpg">
            </a>
            <a href="img/8th.jpg" data-lightbox="models" data-title="Caption8">
                <img src="img/8th.jpg">
            </a>
            <a href="img/9th.jpg" data-lightbox="models" data-title="Caption9">
                <img src="img/9th.jpg">
            </a>
            <a href="img/10th.jpg" data-lightbox="models" data-title="Caption10">
                <img src="img/10th.jpg">
            </a>
            <a href="img/11th.jpg" data-lightbox="models" data-title="Caption11">
                <img src="img/11th.jpg">
            </a>
            <a href="img/12th.jpg" data-lightbox="models" data-title="Caption12">
            <img src="img/12th.jpg">
            </a>
            <a href="img/13th.jpg" data-lightbox="models" data-title="Caption13">
            <img src="img/13th.jpg">
            </a>
            <a href="img/14th.jpg" data-lightbox="models" data-title="Caption14">
            <img src="img/14th.jpg">
            </a>
            <a href="img/15th.jpg" data-lightbox="models" data-title="Caption15">
            <img src="img/15th.jpg">
            </a>
            <a href="img/16th.jpg" data-lightbox="models" data-title="Caption16">
            <img src="img/16th.jpg">
            </a>
            <a href="img/17th.jpg" data-lightbox="models" data-title="Caption17">
            <img src="img/17th.jpg">
            </a>
        </div>
    </div>

</body>

</html>

{% endblock body %}