{% extends 'apple/base.html' %} {% load static %}
<!---header-->

{% block title %}
<title> Apple International School </title> {% endblock title %}

<html>
{% block navbarcontent %}
<div class="text-box">
    <h1>Welcome to Apple 🍎 International School</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil eos rerum, molestiae enim aliquid maiores,
        <br> voluptate amet veniam ex, culpa rem aperiam ab corrupti laborum velit ipsum fugiat! Impedit, sunt!
    </p>
    <a href="" class="text-btn">Visit Us</a>
</div>
{% endblock navbarcontent %} {% block body %}

<body>
    <!---Founder,Principal Message-->
    <section class="message">
        <h1>Message from the Board</h1>
        <div class="row">
            <div class="message-col">

                <h3>Chairman's Message</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, dicta ad dolor ullam veniam eveniet repellendus nobis sequi provident quia nulla eius nisi cum neque officia! Hic beatae magnam possimus! Lorem ipsum dolor sit amet consectetur,
                    adipisicing elit. Recusandae ipsam eveniet vitae doloribus libero atque pariatur aspernatur, placeat labore magni est vero illo repudiandae illum tempora repellat minus, sit saepe!</p>
                <img src="{% static 'apple/img/4.jpg' %}" class="msg">
                <h3>Yam Nath Mainali , Principal</h3>
            </div>
            <div class="message-col">
                <h3>Principal's Message</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, impedit. Libero, odio saepe? Neque, accusamus officia ducimus eveniet voluptate labore autem placeat modi natus in harum voluptatibus eius perspiciatis sapiente. Lorem
                    ipsum dolor sit amet consectetur, adipisicing elit. Recusandae ipsam eveniet vitae doloribus libero atque pariatur aspernatur, placeat labore magni est vero illo repudiandae illum tempora repellat minus, sit saepe!
                </p>
                <img src="{% static 'apple/img/4.jpg' %}" class="msg">
                <h3>Yam Nath Mainali , Principal</h3>
            </div>
        </div>
    </section>

    <!------Testimonials-------->

    <section class="testimonial">
        <h1>What Our Students Says</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure deleniti blanditiis quam ad! Repellat eos itaque, cupiditate blanditiis molestiae doloribus recusandae commodi quae nemo animi nisi laborum, dignissimos, corrupti nihil?
        </p>

        <div class="row">
            {% for testimonial in testimonials %}
            <div class="testimonial-col">
                <img src="media/{{testimonial.image}}">
                <div>
                    <p>{{ testimonial.description }}</p>
                    <h3>{{ testimonial.name }}</h3>
                    <p>{{ testimonial.relationToSchool }}</p>
                    <br>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            {% endfor testimonials %}
        </div>
    </section>

    <!------------Contact part--------->

    <section class="contactpart">
        <h1>Get The Best Education For Your Brighter Future</h1>
        <a href="{% url 'contact' %}" class="contactpart-btn">Contact Us</a>
    </section>

</body>

</html>

{% endblock body %}